<div class="row">
    <div class="col-md-6"><bin-message deuxieme="infoMessage" message="Ceci est une alerte de succès" action="showMessage()" message-type="success"></bin-message></div>
    <div class="col-md-6"><bin-message deuxieme="infoMessage" message="Ceci est une alerte d'erreur" message-type="danger"></bin-message></div>
    <div class="col-md-6"><bin-message message="{{infoMessage}}" message-type="info"></bin-message></div>
</div>
<div ng-show="displayDetail" class="row">
    <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum luctus augue, eu sagittis nisi mattis sed. Sed a augue erat. Mauris malesuada arcu nec enim ultricies congue. Morbi gravida scelerisque nisl ut cursus. Pellentesque in diam libero. Aenean tincidunt porta laoreet. Proin id arcu magna. Nulla imperdiet lacinia elit vel hendrerit. Sed orci nibh, sollicitudin ac ante fringilla, consectetur posuere odio. In et ipsum vel elit feugiat ultrices pellentesque et velit.</p>
            
            <p>Quisque elit dui, maximus sit amet velit eu, posuere dictum elit. Donec convallis tortor vel dignissim faucibus. Pellentesque pretium metus ut vulputate vehicula. Quisque sed orci quam. Aenean pharetra metus turpis, ut imperdiet tortor ultricies sit amet. In consectetur, justo ut eleifend tincidunt, ligula sapien lacinia ligula, ut finibus lectus massa pharetra metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eu nisl quis sem rutrum ullamcorper vel et arcu. Nullam vestibulum pulvinar lorem, eget rhoncus felis fringilla quis. Pellentesque eu purus at felis pulvinar volutpat non nec tellus. Mauris vestibulum, felis ultrices tristique gravida, justo sapien suscipit dolor, ac auctor massa risus quis lectus. Proin ullamcorper erat id iaculis pharetra. Curabitur ac purus nec ante consequat porttitor at in metus.</p>
    </div>
</div>
